---
layout: page-with-intro.njk
---
<section class="section section--white section--flush-bottom">
  <div class="container">
    <h2 class="content-blocks__heading text-uppercase">{{ services_heading }}</h2>
    <div class="content-blocks__grid">
      {% for service in services %}
      <article class="content-blocks__block content-blocks__block--flush content-blocks__block--heading-gap">
        <h3 class="content-blocks__block-heading">{{ service.heading }}</h3>
        <p>{{ service.description }}</p>
        <ul>
          {% for feature in service.features %}
          <li>{{ feature }}</li>
          {% endfor %}
        </ul>
        {% if service.case_study %}
        <p>{{ service.case_study | safe }}</p>
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </div>
</section>
