<!doctype html>
<html lang="en-US">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    {% if page.url == "/" %}
    <div class="announcement-bar">
      <div class="announcement-bar__inner">
        <p>April 2026 is around the corner. Is your website and digital content ready?</p>
      </div>
    </div>
    {% endif %}
    <div class="page-wrap">
      {% include "partials/header.njk" %}
      <main id="main-content" role="main">
        {{ content | safe }}
      </main>
      {% include "partials/footer.njk" %}
    </div>
    {% include "partials/cookie-banner.njk" %}
    <script src="/js/main.js"></script>
  </body>
</html>
