<!doctype html>
<html lang="en-US">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    {% if announcement.announcement %}{% include "partials/announcement-bar.njk" %}{% endif %}
    <div class="page-wrap">
      {% include "partials/header.njk" %}
      <main id="main-content">
        {{ content | safe }}
      </main>
      {% include "partials/footer.njk" %}
    </div>
    {% include "partials/cookie-banner.njk" %}
    {% include "partials/exit-modal.njk" %}
    <script defer src="{{ '/js/main.js' | url }}"></script>
  </body>
</html>
