---
layout: base.njk
---
<section class="section section--blue">
  <div class="container">
    <div class="page-intro">
      <h1 class="page-intro__heading text-uppercase">{{ intro.heading }}</h1>
      {% for paragraph in intro.body %}
      <p>{{ paragraph | safe }}</p>
      {% endfor %}
    </div>
  </div>
</section>

<section class="content-blocks section section--white section--flush-bottom">
  <div class="container">
    <h2 class="content-blocks__heading text-uppercase">{{ philosophy.heading }}</h2>
    <div class="content-blocks__grid">
      {% for block in philosophy.blocks %}
      <article class="content-blocks__block content-blocks__block--flush content-blocks__block--heading-gap">
        <h3 class="content-blocks__block-heading">{{ block.heading }}</h3>
        <picture>
          <source srcset="{{ block.image | toWebP | url }}" type="image/webp" />
          <img src="{{ block.image | url }}" alt="" class="content-blocks__image" width="600" height="400" aria-hidden="true" loading="lazy" />
        </picture>
        <p>{{ block.body }}</p>
      </article>
      {% endfor %}
    </div>
  </div>
</section>

{% include "partials/social-section.njk" %}
