---
layout: base.njk
---
<section class="section section--blue">
  <div class="container">
    <div class="page-intro">
      <h1 class="page-intro__heading">{{ intro.heading }}</h1>
      <p>{{ intro.subheading }}</p>
    </div>
  </div>
</section>

{{ content | safe }}
