@use 'variables' as *;
@use 'components' as *;

// ─── Utility Classes ──────────────────────────────────────────────────────────

.mt-4 { margin-top: $space-4; }
.mt-5 { margin-top: $space-5; }

.text-xl { font-size: $font-size-xl; }

// Skip link for accessibility
.skip-link {
  @extend .btn;
  @extend .btn--primary;
  font-size: $font-size-sm;
  font-weight: 400;
  letter-spacing: $letter-spacing-wide;
  min-height: $nav-height;
  text-transform: uppercase;
  left: 0;
  position: absolute;
  top: -100%;
  z-index: 5;
  &:focus {
    top: 0;
  }
}
