<footer class="site-footer">
  <div class="container">
    <div class="footer-inner">
      <nav class="footer-nav" aria-label="Footer navigation">
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="{{ '/our-story/' | url }}" class="footer-nav__link">Our Story</a>
          </li>
          <li class="footer-nav__item">
            <a href="http://www.lauracantagallosportfolio.com/" class="footer-nav__link" target="_blank" rel="noopener">About</a>
          </li>
          <li class="footer-nav__item">
            <a href="{{ '/accessibility-services/' | url }}" class="footer-nav__link">Accessibility Services</a>
          </li>
          <li class="footer-nav__item">
            <a href="{{ '/webinars-and-training/' | url }}" class="footer-nav__link">Webinars &amp; Training</a>
          </li>
          <li class="footer-nav__item">
            <a href="{{ '/portfolio/' | url }}" class="footer-nav__link">Portfolio</a>
          </li>
          <li class="footer-nav__item">
            <a href="{{ '/contact/' | url }}" class="footer-nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <p class="footer-brand">LC Education Consulting</p>
      <p class="footer-phone"><a href="tel:3027507443">302-750-7443</a></p>
      <p class="footer-copy">Copyright &copy; 2026 LC Education Consulting &mdash; All Rights Reserved.</p>
    </div>
  </div>
</footer>
